.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info{
  padding-left: 20px;
}

.checkoutProduct__info > button{
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 5px;
}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating{
    display: flex;
    margin-bottom: 5px;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
    color: #e84545;
    margin-bottom: 10px;
}

.checkout__price{
    color: #e84545;
    margin-bottom: 10px;
}

